.movie-page {
	min-height: calc(100vh - 60px);
	background-color: #111;
	color: #fff;
	padding: 50px 25px;
}

.movie-page__container {
	width: 100%;
	display: flex;
	margin-bottom: 30px;
}

.movie-page__container > img {
	width: 300px;
	height: auto;
}

.movie-page__container__content {
	padding-left: 40px;
}

.movie__title {
	margin-bottom: 15px;
}

.movie__vote {
	background-color: #e50914;
	width: max-content;
	padding: 7px 15px;
	font-size: 25px;
	font-weight: 700;
	border-radius: 5px;
	margin: 20px 0;
}

.movie__description {
	font-size: 18px;
}

.movie__description > span {
	font-weight: 600;
	margin-right: 5px;
}

.movie__genres {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 30px;
}

.movie__genres > li {
	padding-right: 15px;
	font-size: 20px;
	color: #e50914;
}

.movie__buttons {
	margin-top: 50px;
}

.movie__buttons > button {
	border: none;
	outline: none;
	margin-right: 20px;
	padding: 12px 20px;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
}

.movie__buttons > button > i {
	margin-right: 10px;
	font-size: 17px;
}

.movie__buttons > button:hover {
	color: #e50914;
	transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
	.movie-page__container {
		flex-direction: column;
		align-items: center;
	}

	.movie-page__container > img {
		width: 200px;
		margin-bottom: 20px;
	}

	.movie-page__container__content {
		padding-left: 0;
		padding: 20px;
	}

	.movie__title {
		font-size: 40px;
	}

	.movie__description {
		display: flex;
		flex-wrap: wrap;
	}

	.movie__buttons > button {
		margin-bottom: 25px;
	}
}
